.evalute-evaluation {
  width: 100%;
  height: 4.56533rem;
  margin-top: 7.46667rem; }
  .evalute-evaluation .evalute-evaluation-left {
    width: 5.824rem;
    height: 4.56533rem;
    float: left; }
    .evalute-evaluation .evalute-evaluation-left .evalute-evaluation-left-content {
      width: 5.888rem;
      height: 2.51733rem;
      margin: 0.768rem 0 1.024rem 0;
      border-right: 1px solid #e6e7e8;
      text-align: center; }
      .evalute-evaluation .evalute-evaluation-left .evalute-evaluation-left-content p:nth-child(2) {
        font-size: 0.512rem;
        color: #07111b;
        padding-bottom: 0.34133rem; }
      .evalute-evaluation .evalute-evaluation-left .evalute-evaluation-left-content p:nth-child(1) {
        font-size: 1.024rem;
        color: #ff9900;
        padding-bottom: 0.256rem; }
      .evalute-evaluation .evalute-evaluation-left .evalute-evaluation-left-content p:nth-child(3) {
        font-size: 0.42667rem;
        color: #93999f; }
  .evalute-evaluation .evalute-evaluation-right {
    width: 9.17333rem;
    height: 4.56533rem;
    float: right; }
    .evalute-evaluation .evalute-evaluation-right div:nth-child(1) {
      margin: 0.768rem 0 0 1.024rem; }
    .evalute-evaluation .evalute-evaluation-right div:nth-child(2) {
      margin: 0.34133rem 0 0 1.024rem; }
    .evalute-evaluation .evalute-evaluation-right div:nth-child(3) {
      margin: 0.34133rem 0 0 1.024rem; }
      .evalute-evaluation .evalute-evaluation-right div:nth-child(3) span {
        color: #93999f;
        font-size: 0.512rem;
        display: block;
        margin-left: 2.56rem;
        margin-top: -0.53333rem; }
    .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content {
      height: 0.64rem;
      margin: 0.768rem 0 0 1.024rem; }
      .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content p {
        font-size: 0.512rem; }
      .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content .server-list {
        margin-top: -0.85333rem;
        margin-left: 2.56rem; }
        .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content .server-list li:last-child {
          font-size: 0.42667rem;
          color: #ff9900;
          margin-top: 0.384rem;
          margin-left: 0.512rem; }
        .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content .server-list li {
          float: left;
          width: 0.64rem;
          height: 0.64rem; }
          .evalute-evaluation .evalute-evaluation-right .evalute-evaluation-right-content .server-list li img {
            width: 100%;
            height: 100%; }

.evalute-division {
  width: 100%;
  height: 0.704rem;
  border-bottom: 1px solid #e6e7e8;
  border-top: 1px solid #e6e7e8;
  background: #f3f5f7; }

.evalute-center {
  width: 100%;
  height: 4.992rem;
  border-bottom: 1px solid #e6e7e8; }
  .evalute-center .evalute-commodity {
    width: 13.90933rem;
    height: 2.90133rem;
    margin: 0 auto;
    border-bottom: 0.02133rem solid #e6e7e8; }
    .evalute-center .evalute-commodity button:nth-child(1) {
      width: 2.56rem;
      height: 1.38667rem;
      background: #00a0dc;
      font-size: 0.53333rem;
      color: white;
      text-align: center;
      line-height: 1.38667rem;
      border: none;
      margin-top: 0.768rem; }
    .evalute-center .evalute-commodity button:nth-child(2) {
      margin-left: 0.34133rem;
      width: 2.56rem;
      height: 1.38667rem;
      background: #ccecf8;
      font-size: 0.53333rem;
      color: black;
      text-align: center;
      line-height: 1.38667rem;
      border: none;
      margin-top: 0.768rem; }
    .evalute-center .evalute-commodity button:nth-child(3) {
      margin-left: 0.34133rem;
      width: 3.072rem;
      height: 1.38667rem;
      background: #e9ebec;
      font-size: 0.53333rem;
      color: black;
      text-align: center;
      line-height: 1.38667rem;
      border: none;
      margin-top: 0.768rem; }
  .evalute-center .evalute-commodity-content {
    width: 13.90933rem;
    height: 2.09067rem;
    margin: 0 auto;
    line-height: 2.09067rem; }
    .evalute-center .evalute-commodity-content p:nth-child(1) {
      width: 0.85333rem;
      height: 0.85333rem;
      border-radius: 50%;
      background: #b7bbbf;
      font-size: 0.59733rem;
      color: white;
      text-align: center;
      line-height: 0.85333rem;
      font-weight: 700;
      margin-top: 0.53333rem; }
    .evalute-center .evalute-commodity-content p:nth-child(2) {
      font-size: 0.49067rem;
      margin-top: -1.38667rem;
      margin-left: 1.19467rem;
      color: #93999f; }

.evalute-footer {
  width: 13.90933rem;
  height: 5.58933rem;
  border-bottom: 1px solid #e6e7e8;
  margin: 0 auto; }
  .evalute-footer .evalute-user {
    float: left;
    width: 1.70667rem;
    height: 5.58933rem; }
    .evalute-footer .evalute-user p {
      width: 1.19467rem;
      height: 1.19467rem;
      border-radius: 50%;
      background: gainsboro;
      margin-top: 0.768rem; }
      .evalute-footer .evalute-user p img {
        width: 1.19467rem;
        height: 1.19467rem; }
  .evalute-footer .evalute-user-new {
    width: 12.20267rem;
    height: 5.58933rem;
    float: left; }
    .evalute-footer .evalute-user-new .family {
      font-size: 0.42667rem;
      color: #07111b;
      line-height: 0.512rem;
      margin-left: 0.512rem;
      margin-top: 0.768rem; }
      .evalute-footer .evalute-user-new .family span {
        margin-left: 5.12rem;
        color: #ecedee; }
    .evalute-footer .evalute-user-new .content {
      font-size: 0.29867rem;
      color: #07111b;
      text-align: left;
      margin-left: 0.512rem;
      line-height: 0.85333rem; }
    .evalute-footer .evalute-user-new .evalute-user-new-list {
      margin: 0.17067rem 0rem 0.256rem 0.34133rem;
      height: 0.64rem; }
      .evalute-footer .evalute-user-new .evalute-user-new-list li {
        float: left; }
        .evalute-footer .evalute-user-new .evalute-user-new-list li img {
          width: 0.64rem;
          height: 0.64rem;
          margin-left: 0.17067rem; }
      .evalute-footer .evalute-user-new .evalute-user-new-list li:last-child {
        font-size: 0.42667rem;
        font-weight: 200;
        color: #93999f;
        margin-left: 0.256rem;
        margin-top: 0.256rem; }
    .evalute-footer .evalute-user-new .content-footer {
      margin-left: 0.512rem; }
      .evalute-footer .evalute-user-new .content-footer .content-p .content-btn {
        width: 2.66667rem;
        height: 0.704rem;
        background: #ffffff;
        border: 0.02133rem solid #e9ebec;
        font-size: 0.384rem;
        color: rgba(7, 17, 27, 0.1); }

/*# sourceMappingURL=evalute.css.map */
