@function rem($px){
  @return $px/46.875+rem
}
.page-main{
  width:100%;
  overflow:hidden;
  margin-top: rem(340);
  .page-main-left{
    height:rem(800);
    width:rem(160);
    float: left;
    overflow: auto;
    .page-hot-food:hover{
      background: white;
    }
    .page-hot-food{
      overflow: hidden;
      width:rem(160);
      height:rem(108);
      background: #f3f5f7;
      font-size: rem(24);
      color:#767B80;
      font-weight: 200;
      line-height: rem(108);
      p{
        margin-left: rem(24);
        border-bottom: 1px solid #E2E4E7;
        width:rem(112);
      }
    }
  }
  .page-main-right{
    height:rem(800);
    width:rem(543);
    float: left;
    overflow: auto;

     .page-main-right-title{
       height:rem(52);
       background: #f3f5f7;
       font-size: rem(24);
       color:rgb(147,153,159);
       border-left:3px solid #d9dde1;
       line-height: rem(52);
       p{
         margin-left: rem(28);
       }


  }
    .page-main-list-box{
      width:100%;
      height:rem(188);
      .page-main-list{
        width:100%;
        height:rem(188);
        li{
          border-bottom:rem(1) solid #d9dde1;
          width:rem(516);
          height:rem(188);
          margin: 0 auto;
          .li-left{
            float: left;
            width:rem(114);
            height:rem(114);
            margin-top: rem(40);
            background: url("../img/2.png");
            img{
              width:100%;
              height:100%;
            }
          }
          .li-right{
           float: left;
            margin-left: rem(20);
            margin-top: rem(40);
            p:nth-child(1){
              font-size: rem(28);
              margin-top: rem(4);
            }
            p:nth-child(2){
              font-size: rem(18);
              color:#93999f;
              padding: rem(20) 0 rem(16) 0;
              span{
                margin-left: rem(10);
              }
            }
            p:nth-child(3){
              font-size: rem(22);
              color:#f01414;
              span{
                font-size: rem(16);
              }
            }
            p:nth-child(4){
              margin-left: rem(250);
              margin-top: rem(-20);
              span{
                float: left;
              }
              span:nth-child(1){
               width:rem(37);
               height:rem(37);
                border-radius: 50%!important;
                border:rem(3) solid rgb(0,160,220);
                text-align: center;
                line-height: rem(30);
                font-size: rem(40);
                display: block;
                color:rgb(0,160,220);
              }
              span:nth-child(2){
                width:rem(48);
                height:rem(40);
                text-align: center;
                line-height: rem(40);
                color:#93999f;
                font-size: rem(16);
                display: block;
              }
              span:nth-child(3){
                width:rem(40);
                height:rem(40);
                border-radius: 50%!important;
                background: rgb(0,160,220);
                text-align: center;
                line-height: rem(40);
                font-size: rem(22);
                display: block;
                color:rgb(255,255,255);
              }
            }
          }
        }
      }
    }
  }

}
